{% extends 'base.html' %}
{% block contents %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h1 class="h2">会社カレンダー</h1>
</div>
<div>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTokyo&showPrint=0&src=MGIwNjJiNDZkYWVhNzFlOTcxNmNiNjZjNTMzZGM2OTMyNWZhODAyNDI2MWQ2YjU3OWU5YmRjNjI3Y2JmMDA3MUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23A79B8E" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}