{% extends 'base.html' %}
{% block contents %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h1 class="h2">食堂スケジュール</h1>
</div>
<div>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FTokyo&showPrint=0&mode=WEEK&src=YWU3MjU1YzIxZWY1YjM3NzA2N2MzOTRlZWU3ZThlNDA5ZTU3ZDJjNmU5ZTJmM2E4MmE0YmVkYWI1NjI5ODM0MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23C0CA33" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}