{% extends 'base.html' %}
{% block contents %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h1 class="h2">最終承認詳細</h1>
</div>

<div>
    <form method="POST">
        {% csrf_token %}
        <h3>{{ object.requestID }}</h3>
        <table class="table border">
            <tbody>    
                <tr>
                    <th scope="col" style="width:10%;" class="border table-primary"><p class="text-center">申請者</p></th>
                    <td scope="col" style="width:90%;" class="border">{{ object.usermei }}</td>
                </tr>
                <tr>
                    <th scope="col" style="width:10%;" class="border table-primary text-center"><p class="text-center">日時</p></th>
                    <td scope="col" style="width:90%;" class="border">{{ object.ReqDate }}</td>
                </tr>
                <tr>
                    <th scope="col" style="width:10%;" class="border table-primary"><p class="text-center">内容</p></th>
                    <td scope="col" style="width:90%;" class="border"><p class="prewrap">{{ object.content }}</p></td>
                </tr>
                {% if object.attach  %}
                <tr>
                    <th scope="col" style="width:10%;" class="border table-primary"><p class="text-center">添付ファイル</p></th>
                    <td scope="col" style="width:90%;">
                        <a href={{ object.attach.url }} >{{ object.attach }}</a>
                        {% if object.attach2  %}
                        </br>
                        <a href={{ object.attach2.url }} >{{ object.attach2 }}</a>
                        {% endif %}
                        {% if object.attach3  %}
                        </br>
                        <a href={{ object.attach3.url }} >{{ object.attach3 }}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if object.approval_id %}
                    <tr>
                        <th scope="col" style="width:10%;" class="border table-primary"><p class="text-center">承認者</p></th>
                        <td scope="col" style="width:90%;">{{ object.apmei }}<label id="approval"></lable></td>
                    </tr>
                    {% if object.approval_content  %}
                        <tr>
                            <th scope="col" style="width:10%;" class="border table-primary"><p class="text-center">承認者コメント</p></th>
                            <td scope="col" style="width:90%;"><p class="prewrap">{{ object.approval_content }}</p></td>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr>
                    <th scope="col" style="width:10%;" class="border table-primary"><p class="text-center">最終承認者</p></th>
                    <td scope="col" style="width:90%;">{{ object.lsmei }}<label id="last_approval"></lable></td>
                </tr>
                {% if object.last_approval_content  %}
                    <tr>
                        <th scope="col" style="width:10%;" class="border table-primary"><p class="text-center">最終承認者コメント</p></th>
                        <td scope="col" style="width:90%;"><p class="prewrap">{{ object.last_approval_content }}</p></td>
                    </tr>
                {% endif %}
                {% if object.ap_no  %}
                    <tr>
                        <th scope="col" style="width:10%;" class="border table-primary"><p class="text-center">承認番号</p></th>
                        <td scope="col" style="width:90%;"><p class="prewrap">{{ object.ap_no }}</p></td>
                    </tr>
                {% endif %}
            </tbody>    
        </table>    
        <a href="{% url 'app_folder:last_approval_update' object.pk %}" class="btn btn-primary btn-lg m-1" id="update">返答</a>
        </form>
</div>
<script>
    function approvalCng() {
        {% if object.approval_id %}
        if ({{ object.approval }} == 0) {
            document.getElementById('approval').innerHTML = "　未承認"
            document.getElementById('approval').classList.add("text-primary")
        }else if({{ object.approval }} == 1){
            document.getElementById('approval').innerHTML = "　承認済"
            document.getElementById('approval').classList.add("text-success")
        }else if({{ object.approval }} == 2){
            document.getElementById('approval').innerHTML = "　却下"
            document.getElementById('approval').classList.add("text-danger")
        }
        {% endif %}
      }
    function lastapprovalCng() {
        if ({{ object.last_approval }} == 0) {
            document.getElementById('last_approval').innerHTML = "　未承認"
            document.getElementById('last_approval').classList.add("text-primary")
        }else if({{ object.last_approval }} == 1){
            document.getElementById('last_approval').innerHTML = "　承認済"
            document.getElementById('last_approval').classList.add("text-success")
        }else if({{ object.last_approval }} == 2){
            document.getElementById('last_approval').innerHTML = "　却下"
            document.getElementById('last_approval').classList.add("text-danger")
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        approvalCng();
        lastapprovalCng();
    });
</script>

{% endblock %}