{% extends 'base.html' %}
{% block contents %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
    <h1 class="h2">応接室スケジュール</h1>
</div>
<div>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTokyo&showPrint=0&mode=WEEK&src=YzllM2EyMDQyY2EzNTI0NjQyN2UxYmQyZjhjZGMxMTNhZTcyMjBlN2I3ODNiYjdhNzI1YTFkNmI5MTI3Y2IxNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23B39DDB" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}